body {
    background-image: url(images/food.png);
 }

h1 {
    font-family: Brush Script MT,cursive;  
    font-size: 100px;
    text-align:center;
    margin-top: 100px;

}

.contents {
    text-align: center;
    font-size: 50px;
    font-family: Brush Script MT,cursive;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 25px;
    border-inline-end-width: 5px;
    
}

a {
    color: black;
    
}

a:hover {
    color: maroon;
}

